* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

body {
    background-color: indigo;
}

.app--container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 80vh;
    overflow: auto;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 1vh;
}

.app--title {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 40px;
    color: indigo;
    font-size: 2rem;
    font-weight: 500;
}

.question--title {
    font-size: 1.5rem;
    font-weight: 500;
}

.question--topbar {
    display: flex;
    align-items: center;
}

.question--container {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.question--btn {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: indigo;
    height: 20px;
    width: 20px;
    justify-content: center;
    color: white;
    border-radius: 10px;
}

.question--info-container {
    max-width: 100vh;
}

.question--info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-top: -5px;
    margin-bottom: 10px;
}

a {
    transition: ease-in-out 0.3s;
}

a:hover {
    border: none;
    box-shadow: inset 20px 0 0 0 #fff;
    cursor: pointer;
    color: indigo;
}